{% extends 'Sblogs/base.html' %}
{% block title %}Create a new blog post{% endblock %}

 {% block content %}
 <br>
 <div class="container col-md-6">
  <h1 style="color: grey;"><i>Deliver your content to share to connect to create and to inspire<i></h1>
 </div>

<div class="container offset-3 col-md-6">
{% if user.is_authenticated %}

 <br/>
   <form method="POST" enctype="multipart/form-data">
 	{% csrf_token %}
 	{{ form.media }}
  	{{ form.as_p }}
 	<div class="form-group" id="signup-button">
                <button class="btn " style="padding: 2px 2px;color:white;">Post</button>
     </div>
</div>
 
<script>
     var name="{{ user.id}}";
     document.getElementById("aut_id").value=name;

</script>

{% else %} 

<h1 style="position:absolute;top:330px;left: 220px; ">You're not allowed to add post unless you are logged in!</h1>

{% endif %}
</div>










 {% endblock %}