{% extends 'Sblogs/base.html' %}
{% load static %}
{% block title %}Article in detail{% endblock %}
 {% block content %}

<div class="container">
	<br/>
<h1>{{post.title}}</h1>
<small>By:
	   {{post.author.first_name}}
	   {{post.author.last_name}} |
	   {{ post.category }} |
	   {{ post.post_date }} 
	   
	 
	 {% if user.is_authenticated %}
            {% if user.id == post.author.id %}

	   			|&emsp;<i class="fas fa-user-edit" style="font-size: 20px;"></i><a href="{% url 'update_post' post.pk %}" style="text-decoration: none;color: black"> (Edit)</a> |&emsp;
	   			 <i class="fas fa-trash-alt" style="font-size: 20px;"></i>
		         <a href="{% url 'delete_post' post.pk %}" style="text-decoration: none;color: black">(Delete)</a>
            {% endif %}
	{% endif %}
</small>
{% if post.header_image %}
   <br/><br/> <img src="{{ post.header_image.url }}">
{% endif %}
<br/><br/>
{{post.body|safe }}

<br/>

<hr>
<form  action="{% url 'like_post' post.pk %}" method="POST" >
	{% csrf_token %}

	{% if user.is_authenticated %}
	    {% if liked %}
	   
		      	<button type="submit" name="post_id" value="{{ post.id }}"class="form-group btn" id="signup-button"style="padding: 5px 5px;color:white;">Unlike</button>&emsp;
        
		        {{ total_likes }} <i class="far fa-thumbs-up" style="font-size: 25px;"></i><small>(Likes)</small>

		{% else %}
	    		<button type="submit" name="post_id" value="{{ post.id }}"class="form-group btn" id="signup-button"style="padding: 7px 7px;color:white;">Like</button>&emsp;
        
		        {{ total_likes }} <i class="far fa-thumbs-up" style="font-size: 25px;"></i><small>(Likes)</small>
	    {% endif %}
	{% else %}
	     <small><b><a href="{% url 'login' %}">Login</a> to like</b></small> &emsp;{{ total_likes }} Likes  
    {% endif %}

</div>


<br/>
<div class="container">
<div class="card mb-3 card border-0" style="" >
  <div class="row g-0" >
    <div class="col-md-2">
    	{% if post.author.profile.profile_pic %}
            <img src="{{ post.author.profile.profile_pic.url }}" alt="profile_pic" width="100" class=" card-img rounded-circle">
        {% else %}
            <img src="{% static 'Sblogs/images/prof_def.png' %}" alt="aprofile_pic" class="card-img" >
    	{% endif %}
    </div>
    <div class="col-md-10" >
      <div class="card-body">
        <h5 class="card-title">{{post.author.first_name}}
	                            {{post.author.last_name}}
	    </h5>
	    <p class="small text-muted">

	    	<a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a>
	    			{% if post.author.profile.website_url %}
	    			    | <a href="{{ post.author.profile.website_url }}">Website </a>
	    			{% endif %}
	    			{% if post.author.profile.facebook_url %}
	    			    | <a href="{{ post.author.profile.facebook_url }}">Facebook </a>
                    {% endif %}
	    			{% if post.author.profile.twitter_url %}    
	    		        | <a href="{{ post.author.profile.twitter_url }}">Twitter </a>
                    {% endif %}
	    		    {% if post.author.profile.instagram_url %}
	    		        | <a href="{{ post.author.profile.instagram_url }}">Instagram </a>
                    {% endif %}
	    		    {% if post.author.profile.pinterest_url %}
	    		        | <a href="{{ post.author.profile.linkedin_url }}">Pinterest </a>
	    		    {% endif %}
	    </p>
        <p class="card-text">{{ post.author.profile.bio }}</p>
      </div>
    </div>
  </div>
</div><br><hr>

<br><hr>
<h2>Comments..<i class="fas fa-comments" style="font-size:30px;"></i></h2><br/>
{% if not post.comments.all %}
    No comments yet.......&emsp; <a href="{% url 'add_comment' post.pk %}" style="color: black;text-decoration: none;"><i class="fas fa-pencil-alt" style="font-size:25px;"></i>Add one</a><br/><br/><hr>
{% else %}
    <a href="{% url 'add_comment' post.pk %}" style="color: black;text-decoration: none;"><i class="fas fa-pencil-alt" style="font-size:25px;"></i><b>Add Comment...</b></a><br/><br/>
    {% for comment in post.comments.all %}
        <strong>{{ comment.name }}-
        {{ comment.date_added }}</strong><br/>
        {{ comment.body }} <br/><br/>
    {% endfor %}

{% endif %}
<hr>
<br/>
</div>

 {% endblock %}


